.m-product-card{
  border: 1px solid #ccc;
  padding: 1em;
  margin: .5em;
  width: 200px;
  display: inline-block;

  .m-product-card__description{
    .m-product-card__description__title{
      font-size: 0;
    }
    .m-product-card__description__content{
      text-overflow: ellipsis;
    }

  }
}

